<h5 class="site-guide">
  みんなの広場は、不妊治療について情報交換できる場所です<br>
  治療のことやあなたの気持ち、聞きたいこと、話したいことなんでも話しましょう
</h5>
<h1>投稿広場</h1>
<div class="questions-area">
  <%= link_to '新規投稿する', new_question_path, class: "btn btn-success" %>
  <% @questions.each do |q| %>
    <div class="card mb-3, container" >
      <div class="card-body">
        <h5 class="card-title"><%= q.title %></h5>
        <p class="card-subtitle mb-2 text-muted"><%= q.name %></p>
        <p class="card-text"><%= simple_format(h(q.content)) %></p>
        <%= link_to "詳細", question_path(q), class:"btn" %>
        <%= link_to "削除", question_path(q),data: { turbo_method: "delete", turbo_confirm: "Are you sure?" }, class:"btn" %>
      </div>
    </div>
  <% end %>
</div>
<div class="search-area">
  <h1>栄養成分を調べる</h1>
  <p>気になる食品の名前を英表記で入力してください。</p>
  <p>※ 該当がない場合は、「該当データなし」が表示されます。</p>
  <div class="search-field">
    <%= form_with(url: questions_path, method: :get) do |form| %>
      <%= form.text_field :search_word, placeholder: "英表記で入力してください 例) curry", size: "40" %>
      <%= form.submit "検索", class:"btn" %>
    <% end %>
  </div>
  <div class="search-results">
    <% if  @foods.empty? %>
      <p class="card-text no-date">該当データなし</p>
    <% else %>
      <% @foods.drop(1).take(5).each do |food| %>
        <div>
          <h5>品目: <%= food['description'] %></h5>
          <p>主な栄養素:</p>
          <% food_nutrients = food['foodNutrients'] %>
          <ul>
            <% food_nutrients.first(3).each do |nutrient| %>
              <li><%= "#{nutrient['nutrientName']} #{nutrient['value']} #{nutrient['unitName']}" %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
