<h5 class="site-guide">
  みんなの広場は、不妊治療について情報交換できる場所です<br>
  治療のことやあなたの気持ち、聞きたいこと、話したいことなんでも話しましょう
</h5>
<h1>投稿広場</h1>
<div class="question-search-area">
  <form method="get" action="<%= questions_path %>">
    <input type="text" name="search" placeholder="キーワード検索" class="question-search-input">
    <input type="text" name="tag_search" placeholder="タグ検索" class="question-search-input">
    <input type="submit" value="検索" class="search-button">
  </form>
</div>
<div class="questions-area">
  <%= link_to '新規投稿する', new_question_path, class: "btn btn-success" %>
  <% @questions.each do |q| %>
    <div class="card mb-3, container" >
      <div class="card-body">
        <h5 class="card-title"><%= q.title %></h5>
        <p class="card-subtitle mb-2 text-muted"><%= q.name %></p>
        <p class="card-text"><%= simple_format(h(q.content)) %></p>
        <% if q.tags.exists? %>
          <p>
            <i class="fa-solid fa-tag"></i>
            <% q.tags.each do |tag| %>
              <%= link_to tag.name, questions_path(tag_search: tag.name) %>
            <% end %>
          </p>
        <% end %>
        <div class="question-select-bar">
          <%= link_to "詳細", question_path(q), class:"btn" %>
          <% if current_user && current_user.already_favorited?(q) %>
            <%= link_to question_favorites_path(q), data: { "turbo-method": :delete }, class: "non-like-button" do %>
              <i class="fa-regular fa-heart" style="color: #b5838d;"></i>
            <% end %>
          <% else %>
            <%= link_to question_favorites_path(q), data: { "turbo-method": :post }, class: "like-button" do %>
              <i class="fas fa-heart" style="color: #b5838d;"></i>
            <% end %>
          <% end %>
          <span class="like-count"><%= q.favorites.count %></span>
        </div>
      </div>
    </div>
  <% end %>
</div>
