<h1>New Question</h1>
<%= form_with model: @question, data: { turbo: false } do |f| %>
  <div class="form-group">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>

  <div class="form-group">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  
  <div class="form-group">
    <%= f.label :content %><br>
    <%= f.text_area :content %>
  </div>

  <%= f.submit %>
<% end %>
