<h1>管理者ダッシュボード</h1>
<div class="questions-area">
  <% @questions.each do |question| %>
    <div class="card mb-3 container" >
      <div class="card-body">
        <h5 class="card-title"><%= question.title %></h5>
        <p class="card-subtitle mb-2 text-muted"><%= question.name %></p>
        <p class="card-text"><%= simple_format(h(question.content)) %></p>
        <% if question.tags.exists? %>
          <p>
            <i class="fa-solid fa-tag"></i>
            <% question.tags.each do |tag| %>
              <%= tag.name %>
            <% end %>
          </p>
        <% end %>
        <div class="question-select-bar">
          <%= link_to "詳細", admin_dashboard_path(question), class:"btn" %>
          <i class="fas fa-heart fa-disply" style="color: #b5838d;"></i>
          <span class="like-count"><%= question.favorites.count %></span>
          <%= link_to "削除", question_path(question), data: { turbo_method: "delete", turbo_confirm: "本当に削除しますか？" }, class:"btn" %>
        </div>
      </div>
    </div>
  <% end %>
</div>
