<h1>会員登録</h1>
<%= form_with model: @user, url: signup_path, class:"user-form", local: true, data: { turbo: false } do |f| %>
  <div class="form-group user-name">
    <label>名前</label>
    <%= f.text_field :name, class: "form-control", size:50 %>
  </div>
  <div class="form-group user-email">
    <label>メールアドレス</label>
    <%= f.text_field :email, class: "form-control", size:50 %>
  </div>
  <div class="form-group user-password">
    <label>パスワード</label>
    <%= f.password_field :password, class: "form-control", size:50 %>
  </div>
  <div class="form-group user-password-confirmation">
    <label>パスワード確認用</label>
    <%= f.password_field :password_confirmation, class: "form-control", size:50 %>
  </div>
  <div>
    <%= link_to "戻る", 'javascript:history.back()', class: "btn" %>
    <%= f.submit "登録", class: "btn"%>
  </div>
<% end %>
