<h1>体調データの<%= type %></h1>
<%= form_with model: record, local: true,method: method, class: "record-form", data: { turbo: false } do |f| %>
  <div class="form-group record-input">
    <label>日付</label>
    <%= f.date_field :date, class: "form-control" %>
  </div>
  <div class="form-group record-input">
    <label>基礎体温</label>
    <%= f.number_field :body_temperature, class: "form-control" %>
  </div> 
  <div class="form-group record-input">
    <label>体重</label>
    <%= f.number_field :weight, class: "form-control" %>
  </div>
  <div class="form-group record-input">
    <label>体脂肪率</label>
    <%= f.number_field :body_fat_percentage, class: "form-control" %>
  </div>
  <div class="form-group record-input">
    <label>気分</label>
    <%= f.select :condition, [["大変良い!!", "大変良い!!"], ["良い", "良い"], ["悪い", "悪い"]], { include_blank: "選択して下さい" }, { class: "form-control" } %>
  </div> 
  <div class="form-group record-input"> 
    <label>日記・メモ</label>
    <%= f.text_field :memo, class: "form-control" %>
  </div> 
  <div class="bottom-button">
    <%= link_to "やめる", records_path, class: "btn" %>
    <%= f.submit type, class: "btn" %>
  </div>
<% end %>
