<h1>Daily Record一覧</h1>

<table class="table table-striped">
  <tr>
    <th>日付</th>
    <th>基礎体温</th>
    <th>体重</th>
    <th>体脂肪率</th>
    <th>体調</th>
    <th>日記・メモ</th>
    <th>リンク</th>
  </tr>
  <% @records.each do |record| %>
  <tr>
    <td><%= record.date %></td>
    <td><%= record.body_temperature %>℃</td>
    <td><%= record.weight %>KG</td>
    <td><%= record.body_fat_percentage %>%</td>
    <td><%= record.condition %></td>
    <td><%= record.memo %></td>
  </tr>
  <% end %>
</table>
