<h1>Daily Record一覧</h1>
<div class="chart-box">
  <div class="button-bar">
    <button id="weight-chart" class="btn">体重</button>
    <button id="body-temperature-chart" class="btn">体温</button>
    <button id="body-body_fat_percentage-chart" class="btn">体脂肪率</button>
  </div>
  <div class="chart">
    <div class="weight-chart">
      <%= line_chart @weight_data, colors: ['#6d597a'] %> 
    </div>
    <div class="body-temperature-chart">
      <%= line_chart @body_temperature_data, colors: ['#6d597a'] %>
    </div>
    <div class="body-body_fat_percentage-chart">
      <%= line_chart @body_fat_percentage_data, colors: ['#6d597a'] %>
    </div>
  </div>
</div>
<table class="table table-striped">
  <tr>
    <th>日付</th>
    <th>基礎体温</th>
    <th>体重</th>
    <th>体脂肪率</th>
    <th></th>
  </tr>
  <% @records.each do |record| %>
  <tr>
    <td><%= record.date %></td>
    <td><%= record.body_temperature %>℃</td>
    <td><%= record.weight %>KG</td>
    <td><%= record.body_fat_percentage %>%</td>
    <td>
      <%= link_to "詳細", record_path(record), class: "btn" %>
      <%= link_to "編集", edit_record_path(record), class: "btn" %>
      <%= link_to "削除", record_path(record),data: { turbo_method: "delete", turbo_confirm: "Are you sure?" }, class:"btn" %>
    </td>
  </tr>
  <% end %>
</table>
